<div class="">

  <div class="row">
    <div class="col-md-6">
      <div id="screenInfo">
        <h2>Screen Information</h2>
        <h3>Plate View</h3>
        <p> Screen {{{screenName}}} {{{taxTerm}}}</p>
        <a href="{{{plateUrl}}}">{{barcode}}</a>
      </div>
      <div id="libraryInfo">
        {{#libraryParent.rnailibraryId}}
          <h3> Parent Library Info </h3>
          <table class="table responsive">
            <tbody>
              <tr>
                <td>BioLoc</td>
                <td>{{libraryParent.bioloc}}</td>
              </tr>
              <tr>
                <td>Fwd Primer</td>
                <td>{{libraryParent.fwdPrimer}}</td>
              </tr>
              <tr>
                <td>Reverse Primer</td>
                <td>{{libraryParent.revPrimer}}</td>
              </tr>
              <tr>
                <td>Stock Title</td>
                <td>{{libraryParent.stocktitle}}</td>
              </tr>
              <tr>
                <td>Stock Location</td>
                <td>{{libraryParent.stockloc}}</td>
              </tr>
            </tbody>
          </table>
        {{/libraryParent.rnailibraryId}}
      </div>
    </div>
    <div class="col-md-6">
      <div id="taxTerms">
        <table class="table responsive">
          <thead>
            <tr>
              <th>Tag</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {{{table}}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <section id="screenGeneGallery">
        <div>
          {{#hasTaxTerm}}
            <h2>{{{taxTerm}}}</h2>
            <div id="enviraEM">
              <h3>Permissive Mutant</h3>
              <p>
                [envira-gallery-dynamic id="tags-{{enviraEMTag}}" columns="{{enviraEMCol}}"] </p>
            </div>
            <div id="enviraEN">
              <h3>Permissive N2</h3>
              <p>
                [envira-gallery-dynamic id="tags-{{enviraENTag}}" columns="{{enviraEMCol}}"]</p>
            </div>
            <div id="enviraSM">
              <h3>Restrictive Mutant</h3>
              <p>
                [envira-gallery-dynamic id="tags-{{enviraSMTag}}" columns="{{enviraSMCol}}"] </p>
            </div>
            <div id="enviraSN">
              <h3>Restrictive N2</h3>
              <p>
                [envira-gallery-dynamic id="tags-{{enviraSNTag}}" columns="{{enviraSNCol}}"] </p>
            </div>
          {{/hasTaxTerm}}
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {{#enviraCRMTag}}
        <div id="enviraCRM">
          <h3>Control Restrictive Mutant</h3>
          <p>
            [envira-gallery-dynamic id="tags-{{enviraCRMTag}}" columns="4" limit="4" sort="random"] </p>
        </div>
      {{/enviraCRMTag}}
      {{#enviraCRNTag}}
        <div id="enviraCRN">
          <h3>Control Restrictive N2</h3>
          <p>
            [envira-gallery-dynamic id="tags-{{enviraCRNTag}}" columns="4" limit="4" sort="random"] </p>
        </div>
      {{/enviraCRNTag}}

      {{#enviraCPMTag}}
        <div id="enviraCPM">
          <h3>Control Permissive Mutant</h3>
          <p>
            [envira-gallery-dynamic id="tags-{{enviraCPMTag}}" columns="4" limit="4" sort="random"] </p>
        </div>
      {{/enviraCPMTag}}

      {{#enviraCPNTag}}
        <div id="enviraCPN">
          <h3>Control Permissive N2</h3>
          <p>
            [envira-gallery-dynamic id="tags-{{enviraCPNTag}}" columns="4" limit="4" sort="random"] </p>
        </div>
      {{/enviraCPNTag}}

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <section id="relatedAssay">
        <div class="">
        </div>
        <div class="" id="wbassay">
          [posts_table columns="image,title,tax:condition:Condition,tax:worm_strain:Strain" post_type="ahringer_assay" term="wb_gene_sequence_id:{{{taxTermSlug}}}+screen_name:{{{screenNameSlug}}}" lazy_load="true" links="title,image" image_size="medium" widths="50,20,20,10"
          filters="tax:worm_strain,tax:condition" rows_per_page="5"]
        </div>
      </section>
    </div>
  </div>

</div>
